image: python:3.11-slim

stages:
  - lint
  - release

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip

before_script:
  - python --version
  - pip install --upgrade pip

# ----------------------------
# LINTING
# ----------------------------
lint:
  stage: lint
  script:
    - pip install ruff
    - ruff check .